<div class="container-fluid special">
  <div class="row" style="font-family: Qardoos Personal Use, serif; margin-top: 30px; margin-bottom: 30px;">
    <div class="col-md-4">
      <img alt="Draculartes" style="padding: 0 0 0 80%;" src="/image/catalog/magical.png">
    </div>
    <div class="col-md-4">
      <p style="font-size: 25px; padding: 57px 0 46px 50px; font-family: Qardoos Personal Use, serif">Novidades, e Cupons de desconto?
        Receba agora por email!</p>
    </div>
    <div class="col-md-4">
      <img alt="Draculartes" style="padding: 0 60% 0 0;" src="/image/catalog/magical_.png">
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
{#      {% if informations %}#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_information }}</h5>#}
{#        <ul class="list-unstyled">#}
{#         {% for information in informations %}#}
{#          <li><a href="{{ information.href }}">{{ information.title }}</a></li>#}
{#          {% endfor %}#}
{#        </ul>#}
{#      </div>#}
{#      {% endif %}#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_service }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ contact }}">{{ text_contact }}</a></li>#}
{#          <li><a href="{{ return }}">{{ text_return }}</a></li>#}
{#          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-sm-5">#}
{#        <h5>{{ text_extra }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>#}
{#          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>#}
{#          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>#}
{#          <li><a href="{{ special }}">{{ text_special }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_account }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ account }}">{{ text_account }}</a></li>#}
{#          <li><a href="{{ order }}">{{ text_order }}</a></li>#}
{#          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>#}
{#          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
{#        </ul>#}
{#      </div>#}
      <div class="col-md-4">
        <img alt="Draculartes" class="img-footer" src="/image/catalog/Draculartes_PNG_b.png">
        <p>Atuando desde 2021 no mercado de impressão 3D,
          a Draculartes está voltada para imagens
          místicas, terror, miniaturas, entre outros produtos inovadores
          e de alto padrão de qualidade, graças as novas tecnologias de
          impressão FDM e de Resina que possibilitam inúmeras possibilidades,
          trazendo maior nível de detalhamento, e peças mais leves,
          com foco em produtos sustentáveis, utilizando materiais que
          beneficiam o meio ambiente.</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-title-footer">Redes Sociais</h3>
        <img alt="Draculartes" class="img-footer-social" src="/image/catalog/inst_color.png">
      </div>
      <div class="col-md-4">
        <h3 class="text-title-footer">Contato</h3>
        <p class="text-content-footer">lojadraculartes@outlook.com</p>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>
{% for style in styles %}
<link rel="{{ style.rel }}" type="text/css" href="{{ style.href }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body>
</html>